//fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

//END - fonts

//variable

$base-color: #BB3739;
$bg-white: #FFF;

$default-grey: #909090;
$default-bg-grey: #9090904d;
$default-title: #272727;

//END - variable

body{
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;
  margin: 0;
  header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    img{
      position: absolute;
      left: -25px;
      bottom: 10px;
      width: 150px;
      height: auto;
    }
    h1{
      width: 80%;
      background: white;

      text-align: right;
      color: $default-title;
      font-size: 25px;
      padding: 10px 25px;
    }
  }
  .leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(220, 220, 220, 0.3);

    ol{
      background: $bg-white;
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: flex;
        align-items: center;

        height: 70px;
        counter-increment: leaderboard;

        &:nth-child(odd){
          background: $default-bg-grey;
        }

        .photo{
          min-width: 40px;
          min-height: 40px;
          margin-inline: 20px;
          border: 3px solid $base-color;
          border-radius: 50%;

          position: relative;

          &::before{
            content: counter(leaderboard);
            position: absolute;
            z-index: 2;
            bottom: -10px;
            right: -10px;
            border: 1px solid $default-grey;

            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 13px;
            color: $default-grey;
            background: $bg-white;
            border-radius: 20px;
            text-align: center;
          }
        }
        .info{
          width: auto;
          p{
            font-size: 15px;
            margin: 0;
            color: $base-color;
            font-weight: 600;
          }
          span{
            color: $default-grey;
            font-size: 13px;
          }
        }

      }
    }
  }
}