body{
  font-family: 'Montserrat', sans-serif;
  background: #272727;
  margin: 0;
  header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    img{
      position: absolute;
      left: -25px;
      bottom: 10px;
      width: 150px;
      height: auto;
    }
    h1{
      width: 70%;
      background: white;

      text-align: right;
      color: $default-title;
      font-size: 25px;
      padding: 10px 25px;
    }
  }
  .leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    border-radius: 10px;

    ol{
      background: $bg-white;
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: flex;
        align-items: center;

        height: 80px;
        counter-increment: leaderboard;

        &:nth-child(even){
          background: $default-bg-grey;
        }
        &:hover .statistics-box{
          display: flex;
        }

        .photo{
          width: 50px;
          height: 50px;
          margin-inline: 20px;
          border: 3px solid $base-color;
          border-radius: 50%;

          position: relative;

          .overflow-img{
            width: 101%;
            height: 101%;
            float: left;
            border-radius: 50%;
            overflow: hidden;
          }
          img{
            width: 80px;
            height: auto;
            position: relative;
            right: 10px;
          }
          &::before{
            content: counter(leaderboard);
            position: absolute;
            z-index: 2;
            bottom: -10px;
            right: -10px;
            border: 1px solid $default-grey;

            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            color: $default-grey;

            background: $bg-white;
            border-radius: 20px;



          }
        }
        .info{
          width: auto;
          p{
            font-size: 15px;
            margin: 0 0 -5px 0;
            color: $base-color;
            font-weight: 600;
          }
          span{
            color: $default-grey;
            font-size: 10px;
          }
        }
        .statistics-box{
          position: absolute;
          right: -180px;

          width: 150px;
          background-color: $bg-white;

          border-radius: 3px;
          display: none;


          &::before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            top: 14px;
            left: -4px;
            background-color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            transform: rotate(135deg);
          }

          span{
            padding: 2px 5px;
            font-size: 18px;
            font-weight: bolder;
            display: block;
            color: #909090;
            &:hover{
              color: $base-color;
            }
          }
          div{
            min-width: 37%;
            &::before{

              display: block;
              position: relative;
              padding:4px 0px 0 4px;
              font-size: 8px;
              font-weight: bolder;
              color: #FFF;
              background-color: $base-color;
              white-space: nowrap;
            }

          }

          .positive{
            border-right: 1px solid #0000005e;
            &::before{
              content: 'Gostam';
            }
          }

          .negative{
            &::before{
              content: 'Não Gostam';
            }
          }

          .erro{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50px;
            span{
              padding: 0 10px;
              font-size: 12px;
              b{
                display: block;
                color: $base-color;
                font-size: 9px;
              }
            }
          }
        }
      }
    }
  }
}